@font-face {
	font-family: 'Inter';
	font-weight: 500;
	src: local('Inter'), url('./inter-medium/inter-medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Anzeigengrot';
	font-weight: 500;
	src: local('Anzeigengrot'), url('./anzeigengrot/anzeigengrot.ttf') format('truetype');
}
